@import '../../styles/variables';

@footerHeight: 40px;

.appEdit {
  height: calc(100% - @default-dataset-height - 2px);
  :global {
    .ant-tabs-nav {
      margin-bottom: 0;
    }
    .ant-tabs-content-holder {
      overflow: auto;
      background-color: @bg-color-light;
    }
    .ant-tabs-tab {
      margin-left: 16px;
      .ant-tabs-tab-btn {
        font-size: 14px;
      }
      i {
        font-size: 16px;
      }
      &:first-child {
        margin-left: @dataset-padding;
      }
    }
    .ant-tabs-tabpane,
    .ant-tabs-content,
    .ant-tabs-tabpane > div {
      height: 100%;
      overflow: auto;
    }

    .ant-empty {
      margin-top: 30px;
    }

    .editPanelContent {
      height: calc(100% - @footerHeight);
      overflow: auto;
    }

    .editPanelFooter {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: @footerHeight;
      background-color: @bg-color-dark;
      box-shadow: @box-shadow-base;
    }

    .ant-btn {
      width: calc(100% - 8px);
      height: @footerHeight - 8px;
      line-height: 20px;
    }
  }
}
