@import '../styles/variables';
@import url('//at.alicdn.com/t/font_2898812_tjn2nqr4gq.css');

.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: @bg-color;
  color: @text-color;
  :global {
    .ant-typography {
      margin-bottom: 0;
    }
    .is-link {
      cursor: pointer;
      &:hover {
        color: @primary-color;
      }
    }

    .is-red-link {
      .is-link();
      &:hover {
        color: red;
      }
    }

    .ant-typography {
      margin-bottom: 0;
    }

    .titleFormItem {
      margin-bottom: 0 !important;
      & > .ant-form-item-label {
        margin-bottom: 4px;
        line-height: 25px;
      }
      & > .ant-form-item-label > label {
        margin-top: 6px;
        border-left: 2px solid #717171;
        padding-left: 8px;
        line-height: 16px;
        height: 16px;
      }
    }

    .ant-form-item-label label {
      color: @text-color;
    }

    .ant-menu,
    .ant-popover-inner-content {
      background-color: @bg-color-light;
    }

    .l7-popup .l7-popup-content,
    .ant-menu .ant-menu-item:hover {
      background-color: @bg-color-lighter;
    }

    .l7-popup .l7-popup-tip {
      border-top-color: @bg-color-light;
    }

    .sketch-picker {
      background-color: @bg-color !important;
      &,
      label {
        color: @text-color !important;
      }

      input {
        background-color: @bg-color !important;
      }

      :global {
        .flexbox-fix:last-child {
          border-top: 1px solid @border-color-base !important;
        }
      }
    }

    .ant-slider {
      .ant-slider-track {
        background-color: @primary-color;
        z-index: 1;
      }
      .ant-slider-step {
        background-color: @bg-color-lightest;
      }
      .ant-slider-handle {
        background-color: #d8d8d8;
        border-width: 0;
        border-radius: 1px;
        z-index: 2;
        width: 12px;
        height: 12px;
      }
    }

    .ant-slider-step {
      background-color: @bg-color-lightest;
    }

    .operateDropdown {
      line-height: 16px;
      .ant-icon,
      .dpiconfont {
        margin-left: 0;
        margin-right: 9px;
        font-size: 16px;
      }
      .ant-dropdown-menu-item {
        padding: 5px 16px;
      }
    }

    *::-webkit-scrollbar {
      background-color: initial;
      width: @scrollbar-width;
      height: @scrollbar-width;
    }
    *::-webkit-scrollbar-thumb {
      background-color: lighten(@bg-color-lighter, 10%);
      border-radius: @scrollbar-width / 2;
    }
    *::-webkit-scrollbar-corner {
      background-color: initial;
    }
  }
}

.control {
  z-index: @panel-zIndex;
  position: absolute;
  top: 0;
  right: 0;
}

.sidebar {
  z-index: @panel-zIndex;
}

.previewHidden {
  display: none;
}
