@import '../styles/variables';
@import url('//at.alicdn.com/t/font_2898812_jvei4rzm6r.css');

.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.control {
  z-index: @panel-zIndex;
  position: absolute;
  top: 10px;
  right: 10px;
}

.sidebar {
  z-index: @panel-zIndex;
  margin: 10px;
  // position: absolute;
  // top: 10px;
  // bottom: 10px;
  // left: 10px;
}
