@import url('../../styles/variables');

.appSidebarContainer {
  height: calc(100% - 20px);
  position: relative;
  margin: 10px;
  width: 310px;
  &.show {
    animation: fadeInLeft 0.5s forwards;
  }
  &.hide {
    animation: fadeOutLeft 0.5s forwards;
  }
}

.appSidebar {
  display: inline-block;
  width: 300px;
  height: 100%;
  margin-right: 6px;
  // overflow: hidden;
  background-color: @bg-color;
  border-radius: @border-radius;
  box-shadow: @box-shadow-base;
}

.appSidebarToggleBtn {
  background-color: #fff;
  position: absolute;
  left: 310px;
  top: 0;
  &:hover {
    background-color: @bg-color;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
