@import '~antd/lib/style/themes/default.less';
//@import '~antd/dist/antd.dark.less';
@import url('//at.alicdn.com/t/font_2898812_y5ir6hhtevt.css');

@header-height: 45px;

@default-dataset-panel-height: 200px;

@header-height: 56px;

@panel-padding: 24px;

@bg-color: @component-background;

@bg-color-light: lighten(@component-background, 4%);

@bg-color-lighter: lighten(@component-background, 6%);

@bg-color-dark: darken(@component-background, 0.1%);

@bg-color-darker: darken(@component-background, 4%);

@border-radius: 4px;

@panel-zIndex: 1000;

:global {
  .is-link {
    cursor: pointer;
    &:hover {
      color: @primary-color;
    }
  }

  .is-red-link {
    .is-link();
    &:hover {
      color: red;
    }
  }

  .ant-typography {
    margin-bottom: 0;
  }
}
