@import '../../styles/variables';

.splitPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > *:last-child {
    margin-left: 8px;
  }
}

.colorWrapper,
.rangeWrapper {
  position: relative;
  margin-bottom: 8px;
  :global {
    .ant-form-item-label {
      height: 32px;
    }
  }
}

.fieldFormCheckbox {
  position: absolute;
  top: 3px;
  right: 0;
  z-index: 1;
  font-size: 12px !important;
}
