.fieldSelect,
.fieldSelectOption {
  :global {
    .ant-select-item-option-content {
      display: flex;
      align-items: center;
      & > span:last-child {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex-shrink: 1;
      }
    }
    .ant-tag {
      flex-shrink: 0;
      line-height: 16px;
    }
  }
}
